<div>
  <%= link_to('Back', root_path, class: 'btn btn-outline-dark') %>
</div>
<h1 class="text-center" style="color:#4c301e;">All Artists</h1>

<%# Below is calling data from the artwork entity, through the artworks model, to display the list of artists %>
<%# in alphbetical order %>
<center>
  <div class="card-deck" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% @artworks.each do |artwork| %>
      <div class="card" style="width: 30rem; color:#4c301e; background:#f4f1e0;">
        <div class="card-body">
          <h5 class="card-title"><%=artwork.artist%></h5>
          <span>
            <%= link_to('View', artwork, class: 'btn btn-outline-dark stretched-link') %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</center>
