<h1 class="text-center" style="color:#4c301e;">All Artwork</h1>
<center>
  <div class="card-deck" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% @artworks.each do |artwork| %>
      <div class="card" style="width: 30rem; color:#4c301e; background:#f4f1e0;">
        <div class="card-body">
          <%= cl_image_tag artwork.artwork_image.key, crop: :scale, width: 300, height: 400, cloud_name: 'cozybaker' %>
          <h5 class="card-title"><%=artwork.title%></h5>
          <h5 class="card-title"><%=number_to_currency artwork.price%></h5>
          <span>
            <%= link_to('View', artwork, class: 'btn btn-outline-dark stretched-link') %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</center>
